<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.io.dao.DcowaMapper">

    <insert id="addDcowa">
        insert into T_DCOWA values(T_DCOWA_SEQ.nextval,#{dc_time},#{staff.s_id},#{dc_mags})
    </insert>
</mapper>