<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.io.dao.DeparAndResumeMapper">
    <insert id="addDeparAndRes">
        insert into T_DEPARANDRESUME VALUES(T_DANDR_SEQ.nextval,#{d_id},#{u_id})
    </insert>
    <select id="getDandR" resultType="com.io.model.DeparAndResume">
        select * from T_DEPARANDRESUME
    </select>


</mapper>